select {
	width: 100%;
}

/*Datepicker styles*/
.datepicker.dropdown-menu {
	max-width: 300px;
	min-width: 300px !important;
}

.datepicker table {
    width: 100%;
}

/*Timepicker*/
.bootstrap-timepicker-widget {
    min-width: 250px !important;
}
	.bootstrap-timepicker-widget table td input {
	    width: 45px !important;
	    box-shadow: none !important;
	    border: 1px solid #ced4da;
	    padding: 10px 0px;
	}

	.bootstrap-timepicker-widget table td a {
	    background-color: #e4e4e4;
	    border-radius: 5px;
	    padding: 5px 0px !important;
	}

	.bootstrap-timepicker-widget table td a .glyphicon-chevron-up,
	.bootstrap-timepicker-widget table td a .glyphicon-chevron-down {
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		display: block;
		height: 13px;
		opacity: 0.6;
	}
	.bootstrap-timepicker-widget table td a .glyphicon-chevron-up {
		background-image: url(../img/chevron-up.png);
	}
	.bootstrap-timepicker-widget table td a .glyphicon-chevron-down {
		background-image: url(../img/chevron-down.png);
	}

/*Select2 styles*/
form.reservation .select2-container {
	outline: 0;
	width: 100% !important;
}
	form.reservation .select2-container .select2-selection {
		border-radius: 3px;
		border: 1px solid #bbb;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-ms-box-shadow: none;
		box-shadow: none;
		height: 38px;
		outline: 0;
	}
		form.reservation .select2-container .select2-selection .select2-selection__rendered {
			line-height: 38px;
		}
		form.reservation .select2-container .select2-selection .select2-selection__arrow {
			height: 36px;
		}

/*Form styles*/
form.reservation .req {
	color: red;
}

form.reservation .error {
	color: red;
	display: none;
	margin-bottom: 0px;
}

form.reservation #second-step {
	display: none;
}

form.reservation #reservation_date, form.reservation #reservation_hour {
	cursor: pointer;
}

form.reservation .btn {
	box-shadow: none;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    height: auto;
    line-height: 100%;
    padding: 13px 25px 15px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
	form.reservation .btn.reservar {
		background-color: #1864a0;
	}
		form.reservation .btn.reservar:hover {
			background-color: #09375a;
			color: #fff;
		}
	form.reservation .btn.reset {
		background-color: red;
	}
		form.reservation .btn.reset:hover {
			background-color: #bf0000;
			color: #fff;
		}

/*Modal reservation success*/
.modal-reservation {
    background: rgba(255,255,255,0.7);
    display: none;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10000;
}
	.modal-reservation .body {
	    background-color: #fff;
	    border-radius: 10px;
	    height: auto;
	    left: 50%;
	    padding: 40px;
	    position: absolute;
	    text-align: center;
	    top: 50%;
	    -webkit-transform: translate(-50%, -50%);
	    -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	    -o-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	    width: 500px;
	}
		.modal-reservation .body .icons {
		    margin-bottom: 20px;
		    max-width: 100px;
		}
			.modal-reservation .body #spinner {
			    -webkit-animation: spinnerLoading 2.5s linear 0s infinite normal;
			    -moz-animation: spinnerLoading 2.5s linear 0s infinite normal;
			    animation: spinnerLoading 2.5s linear 0s infinite normal;
			}
			.modal-reservation .body #check {
			    display: none;
			    -webkit-transform: scale(0);
			    -moz-transform: scale(0);
			    -ms-transform: scale(0);
			    -o-transform: scale(0);
			    transform: scale(0);
			    -webkit-transition: all 0.5s ease;
			    -moz-transition: all 0.5s ease;
			    -o-transition: all 0.5s ease;
			    transition: all 0.5s ease;
			}
				.modal-reservation .body #check.checked {
                    -webkit-transform: scale(1);
                    -moz-transform: scale(1);
                    -ms-transform: scale(1);
                    -o-transform: scale(1);
                    transform: scale(1);
                }

/*Animations*/
@-webkit-keyframes spinnerLoading {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinnerLoading {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}