body {
	background-color: #f1f1f1;
}

.wrap.ecw_reservations h1 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.dt-buttons {
    float: right;
    margin-left: 20px;
}

table.datatable th {
	text-align: left;
}
	table.datatable th.actions {
		width: 100px !important;
	}

table.datatable tbody tr {
	background-color: transparent;
}
	table.datatable tbody tr td {
		padding: 10px 18px;
	}

/*Formularios*/
.wrap.ecw_reservations input[type="text"],
.wrap.ecw_reservations input[type="email"],
.wrap.ecw_reservations input[type="phone"],
.wrap.ecw_reservations textarea {
	width: 100%;
}

.wrap.ecw_reservations .req {
	color: red;
}

.wrap.ecw_reservations .error {
	color: red;
	display: none;
	margin-bottom: 0px;
}

.wrap.ecw_reservations .send-btn,
.wrap.ecw_reservations .dt-button {
	background-color: #1864a0;
	border-radius: 3px;
	border-width: 0px;
	color: #fff;
	cursor: pointer;
	height: auto;
	line-height: normal;
	outline: 0;
	padding: 10px 20px;
	text-align: center;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
	.wrap.ecw_reservations .send-btn{
		width: 100%;
	}
	.wrap.ecw_reservations .dt-button {
		padding-bottom: 8px;
		padding-top: 8px;
	}
	.wrap.ecw_reservations .send-btn[disabled],
    .wrap.ecw_reservations .dt-button[disabled] {
        cursor: initial;
    }
		.wrap.ecw_reservations .send-btn:hover,
		.wrap.ecw_reservations .send-btn:active,
		.wrap.ecw_reservations .dt-button:hover,
		.wrap.ecw_reservations .dt-button:active {
			background-color: #0c4e82;
		}

#success-text {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

.ecwr_form_content {
	padding: 20px;
}

/*Clickpicker and datepicker*/
.popover {
	z-index: 100000 !important;
}

.datepicker.dropdown-menu {
	max-width: 300px;
	min-width: 300px !important;
}

.datepicker table {
	width: 100% !important;
}

/*Select2 styles*/
.wrap.ecw_reservations .select2-container {
	outline: 0;
	width: 100% !important;
}
	.wrap.ecw_reservations .select2-container .select2-selection {
		border-radius: 3px;
		border: 1px solid #bbb;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-ms-box-shadow: none;
		box-shadow: none;
		height: 38px;
		outline: 0;
	}
		.wrap.ecw_reservations .select2-container .select2-selection .select2-selection__rendered {
			line-height: 38px;
		}
		.wrap.ecw_reservations .select2-container .select2-selection .select2-selection__arrow {
			height: 36px;
		}

/*Reservation form*/
#reservation_date, #reservation_hour {
	cursor: pointer;
}

/*Settings page*/
.wrap.ecw_reservations .form-table {
	margin: 0px;
}
	.wrap.ecw_reservations .form-table input[type="text"],
	.wrap.ecw_reservations .form-table input[type="email"],
	.wrap.ecw_reservations .form-table input[type="phone"],
	.wrap.ecw_reservations .form-table input[type="password"],
	.wrap.ecw_reservations .form-table textarea {
		width: 25em;
	}

.wrap.ecw_reservations .nav {
	line-height: 100%;
	margin: 0px;
}
	.ecw_reservations .nav-item {
		display: inline-flex;
		line-height: normal;
	}
		.ecw_reservations .nav-link {
			color: #000;
		}
		.ecw_reservations .nav-link:focus {
			box-shadow: none;
			outline: 0;
		}
		.ecw_reservations .nav-tabs .nav-item.show .nav-link, 
		.ecw_reservations .nav-tabs .nav-link.active {
			background-color: #1864a0;
			color: #fff;
		}

.wrap.ecw_reservations .tab-pane {
    padding: 20px;
    background-color: #e8e8e8;
}

/*Form settings*/
.ecwr_form_content .section-title {
	border-bottom: 1px solid #cccccc;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.ecwr_form_content .col-form {
	padding-left: 50px;
}

.ecwr_form_content select {
	width: 100%;
}

ul.fields-list {
    display: block;
    margin: 0px;
}
	ul.fields-list li {
		border: 1px solid #cccccc;
	    border-radius: 5px;
	    margin: 10px auto;
	    padding: 10px 20px;
	    position: relative;
	}
		ul.fields-list li p {
			margin: 0px;
		}
			ul.fields-list li .name {
			    font-size: 18px;
			    font-weight: bold;
			}
			ul.fields-list li .type {
			    font-size: 15px;
			}
		ul.fields-list li .actions {
			position: absolute;
			right: 15px;
			-webkit-transform: translateY(-50%);;
			-ms-transform: translateY(-50%);;
			-o-transform: translateY(-50%);;
			transform: translateY(-50%);;
			top: 50%;
		}
			ul.fields-list li .actions a {
				cursor: pointer;
				display: inline-block;
				margin: 0px 5px;
				text-align: center;
				width: 20px;
			}
				ul.fields-list li .actions .update-icon {
					color: #007bff;
				}
				ul.fields-list li .actions .delete-icon {
					color: red;
				}

.form-fields .button {
	box-shadow: none;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    height: auto;
    line-height: 100%;
    padding: 13px 25px 15px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
	.form-fields .button#save {
		background-color: #1864a0;
	}
		.form-fields .button#save:hover {
			background-color: #09375a;
			color: #fff;
		}
	.form-fields .button#cancel {
		background-color: red;
	}
		.form-fields .button#cancel:hover {
			background-color: #bf0000;
			color: #fff;
		}

/*Email settings*/
.ecwr_form_content.email-settings .form-table {
	margin: 20px 0px;
}